* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


body {  
  min-height: 100vh;
  background: url(./تعيين\ طبيب\ ناقلات\,\ حجز\,\ احجز\ الآن\,\ موعد\ الفحص\ الطبي\ PNG\ والمتجهات\ للتحميل\ مجانا.png);
  background-blend-mode: overlay;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;

}

.wrapper {
   display: flex;
  position: relative;
    width: 400px;
  height: 450px;  
  background: transparent;
  border: 2px solid cornflowerblue;
  border-radius: 30px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px cornflowerblue;
    overflow: hidden;  
    /* btn */
    transform: scale(0); 
    transition:transform .5s ease, heigh .2s ease;   
     
  
  .icon-close {
    position: absolute;
    top: 0px;
    right: 1px;
    width: 50px;
    height: 30px;
    background: rgb(26, 7, 133);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    cursor: pointer;
    z-index: 1;
  }
  .form-box {
    width: 100%;
    padding: 40px;
    h2 {
      font-size: 30px;
      color: blue;
      text-align: center;
    }
    .input-box input:focus ~ label,
    .input-box input:valid ~ label {
      top: -5px;
    }
    .input-box {
      position: relative;
      width: 100%;
      height: 50px;
      border-bottom: 2px solid #96170d;
      margin: 20px 0;
      label {
        position: absolute;
        top: 10%;
        left: 5px;
        transform: translateY(-50%);
        font-weight: 500px;
        pointer-events: none;
      }
    }
    .icon {
      position: absolute;
      right: 8px;
      font-size: 20px;
      line-height: 60px;
      color: rgb(10, 10, 75);
    }

    .input-box input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 15px;
      color: rgb(230, 22, 22);
      font-weight: 500;
      padding: 0 35px 0 5px;
    }
  }
  .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);


  }
  
  .form-box.register{
    transition: none;
    position: absolute;
    transform: translateX(400px);
    width: 400px;
    height: 500px;
     
  }
  .remember-forget {
    font-size: 15px;
    color: rgb(42, 42, 95);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    label input {
      accent-color: red;
      margin-right: 3px;
    }
  }
  .remember-forget a {
    color: rgb(53, 8, 90);
    text-decoration: none;
  }
  .remember-forget a:hover {
    text-decoration: underline;
  }
  .btn {
    width: 100%;
    height: 45px;
    border-radius: 50px;
    border: 2px solid rgb(6, 30, 75);
    outline: none;
    font-size: 20px;
    font-weight: 500;
    background: #301d83;
    color: white;
    cursor: pointer;
  }
  .login-register {
    font-size: 14px;
    color: rgb(89, 89, 219);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }
  .login-register p a {
    color: rgb(15, 15, 145);
    text-decoration: none;
    font-weight: 600;
  }
  .login-register p a:hover {
    text-decoration: underline;
  }
}
/* للتبديل */
 .active .form-box.login{
    transform: translateX(-400px);
  }
  .active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
  }
   .wrapper.active{
    height: 600px;
 }  
  .wrapper.active-popup{
    transform: scale(1);
  }









 
  